---
import Layout from '../layouts/Layout.astro';
import FormularioCompra from '../components/FormularioCompra';
import MenuHeader from '../components/MenuHeader';
import NavigationMenu from '../components/NavigationMenu';
import FooterMenu from '../components/FooterMenu';
---

<Layout title="Comprar Ticket - Carrera Margarita Tejada">
  <MenuHeader client:load />

	<NavigationMenu client:load />

  <div class="container mx-auto sm:px-10 px-5">
    <div class="pt-10">
      <div class="text-2xl font-bold font-azul">
        Comprar Ticket
      </div>
      <div class="text-xl">
        Completa tus datos para adquirir tu ticket digital
      </div>
    </div>
    
    <hr class="border-1 border-yellow-400 my-8">
    
    <div class="pb-10">
        <div class="divide-gray-900/10 bg-gray-50 px-5">
          <div class="grid grid-cols-1 gap-x-8 gap-y-8 p-5 md:grid-cols-3">
            <div class="px-4 sm:px-0">
              <h2 class="text-base font-semibold leading-7 text-gray-900">Datos de compra</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">
                Los siguientes datos son necesarios para poder inscribirte en la carrera.
              </p>
            </div>
            
            <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
              <FormularioCompra client:load />
            </div>
          </div>
        </div>
    </div>
    
    <!-- Footer -->
    <FooterMenu client:load />
  </div>
</Layout>
