---
import Layout from '../layouts/Layout.astro';
import FormularioPago from '../components/FormularioPago';
import MenuHeader from '../components/MenuHeader';
import NavigationMenu from '../components/NavigationMenu';
import FooterMenu from '../components/FooterMenu';
---

<Layout title="Pagar - Carrera Margarita Tejada">

  <MenuHeader client:load />

  <NavigationMenu client:load />
  
  <div class="container mx-auto sm:px-10 px-5">
    <div class="bg-gray-50 my-10">
      <div class="mx-auto max-w-2xl px-4 py-10 sm:px-6 lg:max-w-7xl lg:px-8">
        <FormularioPago client:load />
      </div>
    </div>
    
    <!-- Footer -->
    <FooterMenu client:load />
  </div>
</Layout>
